<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inglarna.blackeagle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlackEagle">
        <activity android:name=".ui.decklist.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.SettingsActivity">
        </activity>
        <activity android:name=".ui.convertnumber.NumbersActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ui.editnumbers.EditNumbersActivity"
            android:exported="true"
            android:parentActivityName=".ui.convertnumber.NumbersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.convertnumber.NumbersActivity"/>
        </activity>
        <activity android:name=".ui.about.AboutActivity"
            android:exported="true">
        </activity>

        <activity android:name=".ui.cardlist.CardListActivity"
            android:exported="true"
            android:parentActivityName=".ui.decklist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.decklist.MainActivity"/>
        </activity>
        <activity android:name=".ui.addcard.AddCardActivity"
            android:exported="true"
            android:parentActivityName=".ui.cardlist.CardListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.cardlist.CardListActivity"/>
        </activity>
        <activity android:name=".ui.question.QuestionActivity"
            android:parentActivityName=".ui.cardlist.CardListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.cardlist.CardListActivity"/>
        </activity>
        <activity android:name=".ui.tutorialnumbers.TutorialNumbersActivity"
            android:parentActivityName=".ui.convertnumber.NumbersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.convertnumber.NumbersActivity"/>
        </activity>

    </application>

</manifest>